---
import Main from "../layouts/main.layout.astro";
import Palette from "../components/palette.component.astro";
import { type PaletteSchema } from "../interfaces/color.interface";
import axios from "axios";

const popularPalettes = await axios
  .get("http://localhost:3000/palette/getPopular")
  .then((response) => {
    return response.data;
  });
---

<Main title="Best Palettes for UI - ColoredUI">
  <article class="grid grid-cols-4 gap-4 w-full h-max m-4">
    {
      popularPalettes.map((palette: PaletteSchema) => {
        const darkColors = {
          light: palette.dark.light.hex,
          normal: palette.dark.normal.hex,
          dark: palette.dark.dark.hex,
        };
        const lightColors = {
          light: palette.light.light.hex,
          normal: palette.light.normal.hex,
          dark: palette.light.dark.hex,
        };
        return (
          <Palette
            dark={darkColors}
            light={lightColors}
            primary={palette.primary.hex}
            secondary={palette.secondary.hex}
            views={palette.views}
          />
        );
      })
    }
  </article>
</Main>
